<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>eShop<</title>-->
<!--    <link rel="stylesheet" href="css/style.css">-->
<!--</head>-->
<!--<body>-->
<!--<main>-->
<!--    <header>-->
<!--        <input type="text" class="goods-search"/>-->
<!--        <button class="search-button" type="button">Искать</button>-->
<!--        <button class="cart-button button" type="button" id="basket-btn">Корзина</button>-->
<!--    </header>-->


<!--    <div class="goods-list">-->
<!--        <div class="goods-item" v-for="good in filteredGoods">-->
<!--            <h3>{{ good.product_name }}</h3>-->
<!--            <p>{{ good.price }}</p>-->
<!--        </div>-->
<!--    </div>-->

<!--    <section class="product-card-section">-->
<!--        <a class="product-card-section__box" href="#" target="blanck">-->
<!--            <aside>-->
<!--                <img src="image/products_photo/мячи.jpg" height="400">-->
<!--                <button>Заказать</button>-->
<!--                <p>Мячи</p>-->
<!--            </aside>-->
<!--        </a>-->
<!--        <a class="product-card-section__box" href="#" target="blanck">-->
<!--            <aside>-->
<!--                <img src="image/products_photo/футболки.jpg" height="400">-->
<!--                <button>Заказать</button>-->
<!--                <p>Футболки</p>-->
<!--            </aside>-->
<!--        </a>-->
<!--        <a class="product-card-section__box" href="#" target="blanck">-->
<!--            <aside>-->
<!--                <img src="image/products_photo/шорты.jpg" height="400">-->
<!--                <button>Заказать</button>-->
<!--                <p>Шорты</p>-->
<!--            </aside>-->
<!--        </a>-->
<!--    </section>-->

<!--</main>-->
<!--<div id="goods-list-section" class="goods-list">-->
<!--    <div id="goods-list-section__modal">-->
<!--        <input type="submit" value="X" class="goods-list-section__delete">-->
<!--        <h3 id="goods-list_head-line">Корзина</h3>-->
<!--        <div id="goods-list__product-box"></div>-->
<!--        <p id="goods-list__total"></p>-->
<!--    </div>-->
<!--</div>-->

<!--<script src="script/goods_list.js" defer></script>-->
<!--</body>-->

<!--<body>-->
<!--<body>-->
<!--<div class="form-box">-->
<!--    <h1 style="text-align: center"> Форма обратной связи </h1>-->
<!--    <form name="regform" onsubmit="return formValidation(event)">-->
<!--        <h2 id="form-box__area__headline"></h2>-->
<!--        <p>Имя:-->
<!--            <input type="text" size=65 name="name" class="form-box__area"></p><br>-->
<!--        <span class="error-text form-box__area"></span>-->
<!--        <p>E-mail:-->
<!--            <input type="text" size=65 name="email" class="form-box__area"></p><br>-->
<!--        <span class="error-text form-box__area"></span>-->
<!--        <p>Телефон:-->
<!--            <input type="text" size=65 name="telephone" onclick="this.value=''" value="+7(000)000-0000"-->
<!--                   class="form-box__area"></p><br>-->
<!--        <span class="error-text form-box__area"></span>-->
<!--        <p> Комментарий:-->
<!--            <textarea cols="55" name="comment" class="form-box__area"> </textarea></p>-->
<!--        <p>-->
<!--            <input type="submit" value="Отправить" name="submitButton">-->
<!--        </p>-->
<!--    </form>-->
<!--</div>-->
<!--&lt;!&ndash;        <button id="next-ex" onclick="openNextEx()">ДЗ с тексто></button>&ndash;&gt;-->
<!--&lt;!&ndash;        <br>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="box-next-ex">&ndash;&gt;-->
<!--&lt;!&ndash;            <span id="text-box__before-text">&ndash;&gt;-->
<!--&lt;!&ndash;                'Одинарные ковычки нужно заменить на двойные'&ndash;&gt;-->
<!--&lt;!&ndash;                кроме don't isn't doesn't didn't&ndash;&gt;-->
<!--&lt;!&ndash;            </span>&ndash;&gt;-->
<!--&lt;!&ndash;            <br>&ndash;&gt;-->
<!--&lt;!&ndash;            <button id="btn-change-text" onclick="changeText()"> Изменить ' на " </button>&ndash;&gt;-->
<!--&lt;!&ndash;            <br>&ndash;&gt;-->
<!--&lt;!&ndash;            <span id="text-box__after-text"></span>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <script src="script/scriptsDZ4.js"></script>&ndash;&gt;-->
<!--</body>-->
<!--<script src="script/script_lesson4.js"></script>-->
<!--</body>-->
<!--<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>-->
<!--<script src="script/goods_list.js"></script>-->
<!--</html>-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>Shop <Vue class="js"></Vue></title>
</head>

<body>
<div id="app">
    <header>
        <div class="dropdown mydropdown">
            <form class="form-wrapper">
                <input type="text" id="search" placeholder="Поиск..." v-model="searchText">
                <input type="submit" value="go" id="submit" onclick.prevent="searchFor()">
            </form>
            <button class="cart-button dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Корзина
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Ваша корзина</a>
                <div class="basket">
                    <div class="desc">
                        <h3> Корзина пуста </h3>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="products">
            <div class="product-item" v-for="product of filteredProducts" :key="product.id_product">
                <img :src="imgCatalog" alt="">
                <div class="desc">
                    <h3> {{ product.product_name }} </h3>
                    <p> {{ product.price }} </p>
                    <button class="buy-btn" onclick="addProduct (product)">Купить</button>
                </div>
            </div>
        </div>
    </main>
</div>

<script src="/script/vue.js"></script>
<script src="/script/goods_list.js"></script>

</body>
</html>